<p> "id":{{user.id}}<br>
  "name":{{user.name}} <br>
  "username":{{user.username}} <br>
  "email":{{user.email}} <br>
  "address": <br>
  "street":{{user.address.street}} <br>"suite":{{user.address.suite}} <br>"city":{{user.address.city}}<br>
  "zipcode":{{user.address.zipcode}}<br>
  "geo":<br>
  "lat":{{user.address.geo.lat}} "lng":{{user.address.geo.lng}}<br>
  "phone":{{user.phone}}<br>
  "website":{{user.website}}<br>
  "company":<br>
  "name": {{user.company.name}}<br>
  "catchPhrase":{{user.company.catchPhrase}}<br>
  "bs":{{user.company.bs}}<br>
  ------------------------------------------------------------------------------------------------------------------
</p>
<p>"posts to user:"</p>
<app-posts [id]="user.id"></app-posts>



